@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap");
@import "tailwindcss";

body {
  /* Đảm bảo gradient lấp đầy toàn bộ màn hình */
  padding: 0;
  margin: 0;
  /* Đây là chìa khóa: Cắt bỏ mọi thứ tràn ra ngoài, 
     buộc không có thanh cuộn */
  overflow: hidden;
  min-height: 100vh;

  /* Dòng quan trọng để đặt nền */
  background: linear-gradient(#9abec4, #ffffff);

  /* Tùy chọn: Ngăn gradient lặp lại nếu nội dung trang quá ngắn */
  background-repeat: no-repeat;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pixelify-sans-400 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pixelify-sans-500 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pixelify-sans-600 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.pixelify-sans-700 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
